<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MovieFinder</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   
<div class="jumbotron">
    <div class="container">
        <h1>Browse Our Movies</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum turpis sed massa venenatis posuere. Proin volutpat ex velit, euismod elementum massa suscipit ac. Donec at ipsum ut magna sodales elementum.</p>    
        <p><a class="btn btn-primary btn-lg" href="#">Learn More</a></p>
    </div>    
</div>

<div class="container">
    <movies></movies>
</div>

<hr>

<footer>
    <p>&copy; 2016 MovieFinder</p>    
</footer>